<div class="ui right aligned segment">

    <a href="/logout" class="ui primary button">
        Logout
    </a>
    <a href="/logout/delete" class="ui primary button">
        Delete Account
    </a>
 </div>

<section class="padding">
<div class= "ui segment">
<div class="ui items">
  <div class="item">
    <a class=" image">
      <img src="<%= @current_user.pic%> ">
    </a>
    <div class="content">
      <a class="header"><%= @current_user.firstName%> <%= @current_user.lastName%> </a>
      <div class="description">
        <p>I was born in the world of birds and being that finance was the main educational domain in their universities, I gained my BhD in finance. I focused on analyzing trends and news to predict market movement, which is similar to how I fly. Never stagnent, its either up or down!</p>
        <p>It was once sad that many birds can fly but only one can dive both up and down.</p>
      </div>
    </div>
  </div>
</div>
<div class= "ui segment">
<div class= "content">
<a class="header">Mission</a>
<div class="description">
        <p>This blog was created for one purpose only and that is to share trade ideas! Everyone has their area of expertise but different amount of experience in the art of trading so by collaborating possible trading ideas and the logic behind it, we may learn from one another. Our mission is to stay ahead, profit and have fun! Yes, besides the headaches and stressed out zombies, we still party!</p>
    </div>
</div>

</div>
</section>






<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="<%= "/images/trade1.jpg" %>">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="<%= "/images/trade2.jpeg" %>">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="<%= "/images/trade3.jpg" %>">
      </div>
    </div>
  </div>
</div>


<h1>Welcome to Stockfeed </h1>
<div class="padding">
<div class="ui segment">
<div class="ui  form" >
    <form method="POST" action="/feed">
        <div class="field">
            <label>Create Post</label>
            <input  style="height:20vh; width:80%;" type="textarea" name="content"></input>
        </div>
        <button class="positive ui button" type="submit">Post</button>
    </form>
</div>


<br>

<div class="ui feed">

<% for items in @posts.reverse do%>
  <div class="event">
    <div class="label">
      <img src="<%= items.user.pic %>">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
        <%= items.user.firstName %>
        </a> created a post
        <div class="date">
            <%= Time.now %>
        </div>
      </div>
      <div class="extra text">
        <%= items.text %>
        </div>
        <a href="/feed/delete/<%= items.id %>" class="mini ui button"> DELETE </a>

        <div class="meta">
        <a class="like">
        <i class="like icon"></i> 4 Likes
        </a>
        </div>
        </div>
        </div>

 <% end %>
</div>
</div>
</div>